<div class="jumbotron header">
  <div class="container">
  	<div class="col-md-6 col-md-offset-3">
	    <center><h1 class="white">Juice Searcher!</h1></center>
	    <%= form_tag :search, remote: true, method: :get, id: 'search-form' do %>
				<%= search_field_tag :search, @search, placeholer: 'Search...', class: 'search-box' %>
			<% end %>
    </div>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    	<center><h2>Results</h2></center>
    	<div id="results">
    		<%= @search %>
    	</div>
    </div>
  </div>

  <hr>

  <footer>
    <p>© 2015 Company, Inc.</p>
  </footer>
</div>


<script type="text/javascript">
  $("#search").keyup(function(e){
    if(e.which !== 32 || e.which !== 8)
      $("#search-form").submit();
  });
</script>
