<div class="row">
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-search fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @stats.count %></div>
            <div>Searches!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-users fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @stats.map(&:user_ip).uniq.count %></div>
            <div>Users!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-star fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Analyzer.all_terms.uniq.count %></div>
            <div>Relevant Terms!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-bar-chart fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Analyzer.top_terms.count %></div>
            <div>Frequent Terms!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>