<div class="col-lg-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Searches Panel</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
      	<% Analyzer.top_queries.each do |k, v| %>
        <a href="#" class="list-group-item">
          <span class="badge"><%= pluralize(v, 'search') %></span>
          <i class="fa fa-fw fa-search"></i>&nbsp;<%= k %>
        </a>
        <% end %>
      </div>
    </div>
	</div>
</div>